body {
 margin: 0;
 font-family: monospace;   
}

#mn-header {
    display: flex;
    justify-content: center;
    height: 7rem;
    padding: 1rem;
    background-color: brown;
}

#mn-header img {
    height: 6rem;
    width: auto;
}

h1 {
    text-align: center;
}    